# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# IDE 文件
.vs/
.vscode/
.idea/
*.swp
*.DS_Store

lib/
foundry.lock
broadcast/